.cart-section input,select, textarea {
    outline: none;
    box-shadow:none !important;
    border:1px solid #ccc !important;
}
.cart-slide{
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    border-radius: 4px;
}
.cart-table{
    border-bottom: 1px solid #f2f2f2;
    padding: 15px 10px;
}
.item-row:last-child{
    border-bottom: none;
    margin-bottom: 0;
}
.cart-table .item-row .cart-item {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.cart-table .item-row .cart-item .img-cart {
    width: 75px;
    height: 75px;
    padding: 5px;
    background-color:  rgb(255, 255, 255);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 4px;
    border: 2px solid #e6e6e6;
}
.cart-table .item-row .cart-item .img-cart img {
    max-width: 100%;
    max-height: 100%;
}
.cart-item .information{
    width: calc(100% - 75px);
    padding-left: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.information .item-info{
    width: calc(100% - 130px);
    display: flex;
    flex-direction: column;
}
/* .btn-remove{
    text-align: ;
} */
.information a{
    color: #333;
}

.amount {
    display: flex;
    align-items: center;
    align-content: center;
    font-size: .8125rem;
    color:rgb(51, 51, 51);
    margin-top: 5px;
    margin-bottom: 5px;
}
.amount .input-number{
    display: flex;
    align-items: center;
    color: #333;
    font-size: 1rem;
    font-weight: 700;
}

.input-number input{
    width: 50px;
    height: 22px;
    line-height: 22px;
    margin: 0px 4px;
    background: #fff;
    border:1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.minus, .plus{
    width:20px;
    height:22px;
    line-height: 5px;
    background:#f2f2f2;
    border-radius: 5px;
    padding:5px 5px 5px 5px;
    border:1px solid #ddd;
    text-align: center;
    cursor: pointer;
}
.item-price{
    width: 130px;
    display: flex;
    flex-direction: column;
}

.btn-backhome{
  cursor: pointer;
  width: 125px;
  color: #f5a623 !important;
  font-size: 15px;
  text-align: center;
  padding: 7px 16px;
  border-radius: 5px;
  border: 1px solid #f5a623;
  margin-top: 20px;
}
.btn-backhome:hover{
  color: rgb(255, 255, 255) !important;
  background-color: #f5a623;
  border-color: #f5a623;
  opacity: 0.95;
}
.total-pay{
    padding-left: 10px;
}
.total{
    margin-right: -20px;
}

.totals-value{
    display: flex;
    justify-content: space-between;
}
.label{
    text-align: left;
}
.value{
    text-align: right;
}
#cart-total .value:not(:last-child){
    color: red;
}
.product-price{
    display: flex;
    flex-direction: row;
    width: 130px;
}
.product-price > div:not(:last-child){
    flex: 1 1 auto;
    margin: 0px 20px 0px 10px;
}
.per-price, .type-price{
    text-align: right;
}
.form-group{
    padding: 0px 20px 0px;
}
.form-check{
    padding: 0px 20px 5px;
}
.cart-choice{
    padding: 0px 20px 0px;
}
.cart-choice .title-payment {
    font-size: .875rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.step-title{
    position: relative;
    background: #cf111a;
    color: #fff;
    text-align: center;
    height: 40px;
    line-height: 40px;
    margin-bottom: 1px;
    cursor: pointer;
}
.step-title .fa-angle-down{
    position: absolute;
    right: 10px;
    line-height: 40px;
}
.step-content{
    display: none;
}
