.category-slide{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    margin: 0px auto 30px;
    align-items: center;
    border-radius: 4px;
}
.category-item{
    display: block;
    text-align: center;
    color: rgb(51, 51, 51);
    margin: 12px 0px;
    padding: -1px 16px;
    text-decoration: none;
}
.img-category{
    position: relative;
    z-index: 1;
    width: 64px;
    height: 64px;
    margin: 0 auto;
}
.category-item .img-category img{
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    vertical-align: middle;
}
.category-item span {
    display: block;
    font-size: 1rem;
    line-height: 20px;
    max-height: 40px;
    margin: 8px 0px 0px;
    overflow: hidden;
}
.category-item:hover{
    color:#f5a623;
}