.page-link{
    color: rgb(51, 51, 51) !important;
    box-shadow:none !important;
}

.page-link:hover{
    background-color: #e67e22 !important;
    color: #fff !important;
    opacity: 0.6;
}
.pagination .active a{
    background-color: #e67e22 !important;
    color: #fff !important;
    outline: none !important;
    border:1px solid #ccc !important;
}
.details-silde{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  -webkit-box-align: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 20px;
}