.details-product{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    padding-bottom: 80px;
    padding-top: 10px;
}
.detail-description{
    background-color: rgb(255, 255, 255);
}
.product-info{
    padding: 10px 10px;
    padding-bottom: 0px;
    font-size: 1rem;
}
h1.product-name{
    font-size: 1.6rem;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 10px;
}
.book-info {
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    padding: 15px;
}
.book-info ul{
    padding: 0px !important;
    margin-bottom: 0px;
}
.book-info ul li:not(:last-child){
    margin-bottom: 5px;
}
.buynowbutton {
    background-color:#ffec64;
    border-radius:6px;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-family:Arial;
    font-weight:bold;
    padding:6px 32px;
    text-decoration:none;
    margin-top: 0.5rem !important;
}
.buynowbutton:hover {
    background-color:#ffab23;
}
.buynowbutton:active {
    position:relative;
    top:1px;
}

.amount {
    display: flex;
    align-items: center;
    align-content: center;
    font-size: .8125rem;
    color:rgb(51, 51, 51);
    margin-top: 5px;
    margin-bottom: 5px;
}
.amount .input-number{
    display: flex;
    align-items: center;
    color: #333;
    font-size: 1rem;
}

.input-number input{
    width: 50px;
    height: 22px;
    line-height: 22px;
    margin: 0px 4px;
    background: #fff;
    border:1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.minus, .plus{
    width: 20px;
    height: 22px;
    line-height: 5px;
    background: #f2f2f2;
    border-radius: 5px;
    padding:5px 5px 5px 5px;
    border:1px solid #ddd;
    text-align: center;
    cursor: pointer;
}



/* Style the tab */
.tab-product {
    overflow: hidden;
}

/* Style the buttons inside the tab */
.tab-product button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 20px;
    transition: 0.3s;
    font-size: 18px;
    font-weight: 400;
}

.tab-product button.active {
    color: #cf111a;
    border-top: solid 2px #cf111a;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 0px 20px 10px;
    border-top: none;
    max-width: 100%;
}
.detail-description{
    width: 100%;
    margin-bottom: 20px;
    font-size: 1rem;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.product-gift {
    padding: 15px;
    border-radius: 5px;
    font-size: .95rem;
    color: #666;
    border: 1px solid #f5a623;
    background: rgba(245,166,35,.1);
    margin-top: 10px;
    margin-bottom: 5px;
}

.product-gift strong {
    color: #333;
}

.product-gift ul {
   list-style: none;
   padding-left: 20px !important;
}

.product-gift ul li {
    position: relative;
    margin-bottom: 5px;
}

.product-gift ul li:before {
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}