/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    background-color: rgb(255, 255, 255);
    width: 288px;
    position: fixed;
    top: 0;
    left: -288px;
    height: 100vh;
    z-index: 999;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
}

#sidebar.active {
    left: 0;
}
#dismiss {
    width: 35px;
    height: 35px;
    line-height: 38px;
    text-align: center;
    background: #cf111a;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}
#content {
    width: 100%;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#sidebar .sidebar-header {
    background:#cf111a;
}

.user-login-moblie .icon-login-moblie{
    position: relative;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    transition: all,.3s;
  }

.user-login-moblie .user-name-moblie{
    display: flex;
    align-items: center;
    align-content: center;
    transition: all,.3s;
    padding: 12px 16px;
  }
.user-login-moblie .user-name-moblie span{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 450;
    line-height: 1;
    color:rgb(255, 255, 255);
    transition: all,.3s;
    margin-left: 1.8rem;
}
.nav{
    display: block;
    padding: 0px;
    margin: 12px 0px;
}
.support-moblie{
    display: block;
    border-top: 1px solid rgb(242, 242, 242);
    color: rgb(51, 51, 51);
    opacity: .8;
    padding: 12px 16px;
    font-size: inherit;
}
.list-unstyled{
    position: relative;
}
.list-unstyled .icon-component{
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    transition: all,.3s;
}
.list-unstyled .components{
    display: flex;
    align-items: center;
    align-content: center;
    transition: all,.3s;
    color: rgb(51, 51, 51);
    opacity: .8;
    padding: 12px 16px;
}
.list-unstyled .components span{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    transition: all,.3s;
    margin-left: 2.5rem;
}



